<html>
    <head>

    </head>
    <body>
        <h1> This is a form page </h1> 
        
        <form action = '/submit' method = 'post'>
            <input type = 'text' name = 'fname' placeholder = 'first name' required = 'required'>
            <input type = 'text' name = 'sname' placeholder = 'second name' required = 'required'>
            <input type = 'number' name = 'phone number' placeholder = 'phone number' required = 'required'>
            <input type = 'email' name = 'email' placeholder = 'email' required = 'required'>

            <button type = 'submit'> Predict</button>
        </form>

    </body>
</html>